@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
}

html,
body {
  height: 100%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-feature-settings: 'rlig' 1, 'calt' 1, 'tnum' 1;
}
